<form class="ui form" ng-submit="save()">

    <div class="field">
        <label>Project ContentTH</label>
        <textarea ui-tinymce="mceOptions" ng-model="project.content" placeholder="Content Thai"></textarea>
    </div>
    <div class="field">
        <label>Project ContentEN</label>
        <textarea ui-tinymce="mceOptions" ng-model="project.contentEN" placeholder="Content English"></textarea>
    </div>

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>