<h2>Edit Project</h2>

<div class="ui top attached tabular menu">
    <a class="active item" data-tab="infomation">Project Information</a>
    <a class="item" data-tab="files">Files</a>
    <a class="item" data-tab="photos">Photos</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="infomation">
    <form class="ui form" ng-submit="save()">

        <div class="field">
            <label>Project Name</label>
            <input ng-model="project.name" type="text" name="name" placeholder="Project Name" required="required">
        </div>

        <div class="field">
            <label>Project Abstract</label>
            <textarea rows="5" ng-model="project.abstract" required="required"></textarea>
        </div>

        <button type="submit" class="ui primary submit button">Save</button>
        <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
    </form>
</div>

<div class="ui bottom attached tab segment" data-tab="files">
    Files Upload
</div>

<div class="ui bottom attached tab segment" data-tab="photos">
    photos
</div>

