<h2>Edit Project</h2>

<form class="ui form" ng-submit="save()">
    <h4 class="ui dividing header">Project Information</h4>

    <div class="field">
        <label>Name (EN)</label>
        <input ng-model="project.name_en" type="text" name="name" placeholder="Project Name" required="required">
    </div>

    <div class="field">
        <label>Name (TH)</label>
        <input ng-model="project.name_th" type="text" name="name" placeholder="Project Name" required="required">
    </div>

    <div class="field">
        <label>Abstract (EN)</label>

        <textarea rows="5" ng-model="project.abstract_en" required="required"></textarea>
    </div>

    <div class="field">
        <label>Abstract (TH)</label>
        <textarea rows="5" ng-model="project.abstract_th" required="required"></textarea>
    </div>


    <div flow-init="{target: '/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <h4 class="ui dividing header">Project Files</h4>

        <input type="file" flow-btn/>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>