<h2>project</h2>

<div class="ui grid">
    <div class="three column row">
        <div class="column"  ng-repeat="project in projects" ng-if="project.status.key == 'published'" >
            <div class="ui fluid card">
                <div class="image">
                    <img ng-src="project.cover_url">
                </div>
                <div class="content">
                    <a class="header">{{project.name}}</a>
                    <p>{{project.name}}</p>
                </div>
            </div>
        </div>
    </div>

</div>










