<h2><i ui-sref="home" class="arrow  left icon"/>Add Area</h2>

<form class="ui form" ng-submit="save()" >
    <h4 class="ui dividing header">Area</h4>

    <div class="field">
        <label>Name (TH)</label>
        <input ng-model="area.name_th" type="text" name="name" placeholder="Area Name" required="required">
    </div>
    <label>Latitude :</label> <input type="number" step="any" ng-model="area.lat" />
    <label>Longitude :</label> <input type="number" step="any" ng-model="area.lon" />
    <label>Zoom :</label> <input type="number" step="any" ng-model="area.zoom" />

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>