<h2><i ui-sref="home" class="arrow  left icon"/>Edit Area</h2>

<form class="ui form" ng-submit="save()" >
    <div class="field">

        <openlayers  ol-center="project" height="400px">
            <ol-marker lat="project.area.lat" lon="project.area.lon" zoom="project.area.zoom"></ol-marker>
        </openlayers>

        <div class="field">
            <label>Name (TH)</label>
            <input ng-model="area.name_th" type="text" name="name" placeholder="Area Name" required="required">
        </div>
        <label>Latitude :</label> <input type="number" step="any" ng-model="project.area.lat" />
        <label>Longitude :</label> <input type="number" step="any" ng-model="project.area.lon" />
        <label>Zoom :</label> <input type="number" step="any" ng-model="project.area.zoom" />



    </div>

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>