<h2>Area Management</h2>
<div class="two column row" style="padding: 0px;">
    <div class="left floated column">
        <div ui-sref="add" class="ui primary button">
            Add Project
        </div>
    </div>
<table class="ui celled striped table">
    <thead>
    <tr>
        <th class="center aligned one wide">ID</th>
        <th class="center aligned wide">Name(TH)</th>
        <th class="center aligned two wide">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="area in areas">
        <td class="collapsing" ng-bind="area.id"></td>
        <td ng-bind="area.name_th"></td>
        <td class="center aligned collapsing">
            <div class="ui buttons">
                <button class="ui icon button" ui-sref="edit({id:area.id})" data-content="Edit">
                    <i class="edit icon"></i>
                </button>
                <button ng-click="showDeleteModal(project)" class="ui icon negative button" data-content="Delete">
                    <i class="delete icon"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>




