<div class="ui two columns grid">

    <div style="padding-bottom: 0px;" class="one column row">
        <div class="left aligned  column">
            <h4 style="cursor: pointer;" ui-sref="home"><i class="arrow  left icon"></i> Back</h4>
        </div>
    </div>
    <div class="two column row">
        <div class="left aligned  column">
            <h2>Add Project</h2>
        </div>
    </div>
</div>

<div class="ui secondary pointing menu">
    <a class="active item" data-tab="information">Project Information</a>
    <a class="item" data-tab="detail">Project Detail</a>
</div>

<div class="ui active tab" data-tab="information">

    <form class="ui form" ng-submit="addProject()">
        <h4 class="ui dividing header">Project Information</h4>

        <div class="field">
            <label>Project Name</label>
            <input ng-model="project.name" type="text" name="name" placeholder="Project Name" required="required">
        </div>

        <div class="field">
            <label>Project Abstract</label>
            <textarea rows="5" ng-model="project.abstract" required="required"></textarea>
        </div>
        <button type="submit" class="ui primary submit button">Save</button>
        <button type="button" ui-sref="home" class="ui submit button">Cancel</button>

    </form>

</div>

<div class="ui tab" data-tab="detail">
    <form class="ui form" ng-submit="save()">

        <div class="field">
            <label>Project Content</label>
            <textarea ui-tinymce="mceOptions" ng-model="project.content"></textarea>

        </div>

        <button type="submit" class="ui primary submit button">Save</button>
        <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
    </form>
</div>