<div class="ui two columns grid">

    <div style="padding-bottom: 0px;" class="one column row">
        <div class="left aligned  column">
            <h4 style="cursor: pointer;" ui-sref="home"><i class="arrow  left icon"></i> Back</h4>
        </div>
    </div>
    <div class="two column row">
        <div class="left aligned  column">
            <h2>Add Project</h2>
        </div>
    </div>
</div>

<div class="ui secondary pointing menu">
    <a class="active item" data-tab="information"><i class="th flag"></i>Project InformationTH</a>
    <a class="item" data-tab="informationEN"><i class="gb flag"></i>Project InformationEN</a>
</div>

<div class="ui active tab" data-tab="information">

    <form class="ui form" ng-submit="save()">
        <h4 class="ui dividing header">ข้อมูลโปรเจคภาษาไทย/Project Information Thai</h4>

        <div class="field">
            <label>ชื่อโปรเจค</label>
            <input ng-model="project.name" type="text" name="name" placeholder="ชื่อโปรเจค" required="required"onkeyup="isThaichar(this.value,this)">
        </div>

        <div class="field">
            <label>บทคัดย่อ</label>
            <textarea rows="5" ng-model="project.abstract" required="required" placeholder="บทคัดย่อ"onkeyup="isThaichar(this.value,this)"></textarea>
        </div>

        <div class="field">
            <label>รายละเอียดโครงการ</label>
            <textarea ui-tinymce="mceOptions" ng-model="project.content" placeholder="รายละเอียดโครงการ"onkeyup="isThaichar(this.value,this)"></textarea>
        </div>

        <div class="field">
            <label>ปีที่จัดทำโครงการ</label>
            <div class="ui fluid selection upward dropdown">

                <span ng-if="!project.yearProject" class="text">Select Year</span>
                <span ng-if="project.yearProject" class="text">{{project.yearProject}}</span>

                <div class="item">

                    <select  ng-model="project.yearProject" ng-options="opt as opt for opt in years" ></select>

                </div>
            </div>
        </div>

        <button type="submit" class="ui primary submit button">Save</button>
        <button type="button" ui-sref="home" class="ui submit button">Cancel</button>

    </form>

</div>

<div class="ui tab" data-tab="informationEN">
    <form class="ui form" ng-submit="save()">

        <h4 class="ui dividing header">ข้อมูลโปรเจคภาษาอังกฤษ/Project Information English</h4>

        <div class="field">
            <label>ชื่อโปรเจค/Project Name</label>
            <input ng-model="project.nameEN" type="text" name="nameEN" placeholder="Project Name English" required="required"onkeyup="isEngchar(this.value,this)">
        </div>

        <div class="field">
            <label>บทคัดย่อ/Project Abstract</label>
            <textarea rows="5" ng-model="project.abstractEN" required="required" placeholder="Project Abstract English"onkeyup="isEngchar(this.value,this)"></textarea>
        </div>

        <div class="field">
            <label>รายละเอียดโครงการ/Project Content</label>
            <textarea ui-tinymce="mceOptions" ng-model="project.contentEN" placeholder="Content English"onkeyup="isEngchar(this.value,this)"></textarea>
        </div>

        <button type="submit" class="ui primary submit button">Save</button>
        <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
    </form>
</div>