<form class="ui form" ng-submit="save()">

    <div class="field">
        <label>ชื่อโปรเจค/Project Name</label>
        <input ng-model="project.nameEN" type="text" name="nameEN" placeholder="Project Name English" required="required">
    </div>

    <div class="field">
        <label>บทคัดย่อ/Project Abstract</label>
        <textarea rows="5" ng-model="project.abstractEN" required="required" placeholder="Project Abstract English"></textarea>
    </div>

    <div class="field">
        <label>รายละเอียดโครงการ/Project Content</label>
        <textarea ui-tinymce="mceOptions" ng-model="project.contentEN" placeholder="Content English"></textarea>
    </div>

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>