<form class="ui form" ng-submit="save()">

    <div class="field">
        <label>Project Name</label>
        <input ng-model="project.name" type="text" name="name" placeholder="Project Name" required="required">
    </div>

    <div class="field">
        <label>Project Abstract</label>
        <textarea rows="5" ng-model="project.abstract" required="required"></textarea>
    </div>



    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>