<form class="ui form" ng-submit="save()">

    <div class="field">
        <label>ชื่อโปรเจค/Project Name</label>
        <input ng-model="project.name" type="text" name="name" placeholder="Project Name Thai" required="required">
    </div>


    <div class="field">
        <label>บทคัดย่อ/Project Abstract</label>
        <textarea rows="5" ng-model="project.abstract" required="required" placeholder="Project Abstract Thai"></textarea>
    </div>

    <div class="field">
        <label>รายละเอียดโครงการ/Project Content</label>
        <textarea ui-tinymce="mceOptions" ng-model="project.content" placeholder="Content Thai"></textarea>
    </div>

    <div class="field">
        <label>Year</label>
        <div class="ui fluid selection upward dropdown">

            <span ng-if="!project.yearProject" class="text">Select Year</span>
            <span ng-if="project.yearProject" class="text">{{project.yearProject}}</span>

            <div class="item">

                <select  ng-model="project.yearProject" ng-options="opt as opt for opt in years" ></select>

            </div>
        </div>
    </div>

    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>