<h2>Edit Faculty</h2>

<form class="ui form" ng-submit="save()">
    <h4 class="ui dividing header">Faculty Information</h4>

    <div class="field">
        <label>Name (TH)</label>
        <input ng-model="faculty.name_th" type="text" name="name" placeholder="Faculty Name" required="required">
    </div>

    <div class="field">
        <label>Logo</label>

        <div flow-init flow-object="myFlow"
             flow-files-submitted="$flow.upload()"
             flow-file-success="$file.msg = $message"
             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">

            <div class="alert" flow-drop>
                <img ng-if="$flow.files.length==0" class="ui bordered  small image" src="/images/square-image.png" />

                <div ng-repeat="file in myFlow.files">
                    <img class="ui medium bordered image" flow-img="file" />
                </div>

            </div>


        </div>


    </div>
    <button type="submit" class="ui primary submit button">Save</button>
    <button type="button" ui-sref="home" class="ui submit button">Cancel</button>
</form>